{{ partial "header.html" . }}
<body class="home-template">
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@timefrancesco" />
	<meta name="twitter:title" content="Bitfolio - Crypto ticker & Portfolio" />
	<meta name="twitter:description" content="A simple iOS ticker & portfolio tracker for crypto currencies." />
	<meta name="twitter:image" content="http://www.timelabs.io/bitfolio/img/icon.png" />

	<!-- Twitter App data -->
	<!--  <meta name="twitter:card" content="app">
	<meta name="twitter:site" content="@timefrancesco">
	<meta name="twitter:text:title" content="Bitfolio - Crypto ticker & Portfolio" />
	<meta name="twitter:description" content="A simple iOS ticker & portfolio tracker for crypto currencies." />
	<meta name="twitter:image" content="http://www.timelabs.io/bitfolio/img/icon.png" />
	<meta name="twitter:app:name:iphone" content="Bitfolio">
	<meta name="twitter:app:id:iphone" content="1264391689">
	<meta name="twitter:app:name:ipad" content="Bitfolio">
	<meta name="twitter:app:id:ipad" content="1264391689">
	<meta name="twitter:app:name:googleplay" content="Bitfolio">
	<meta name="twitter:app:id:googleplay" content="io.fabric.samples.cannonball">
	<meta name="twitter:app:url:googleplay" content="http://cannonball.fabric.io/poem/5149e249222f9e600a7540ef"> -->

	<!-- Facebook's Open Graph data -->
	<meta property="og:title" content="Bitfolio - Crypto ticker & Portfolio" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://www.timelabs.io/bitfolio" />
	<meta property="og:image" content="http://www.timelabs.io/bitfolio/img/fb-meta.png" />
	<meta property="og:description" content="A simple iOS ticker & portfolio tracker for crypto currencies." /> 
	<meta property="og:site_name" content="Bitfolio" />

    <!-- The big featured header on the homepage, with the site logo and description -->
    <header id="site-head" {{ if .Site.Params.cover }}style="background-image: url({{ .Site.Params.cover }})"{{ end }}>
        <div class="vertical">
            <div id="site-head-content" class="inner">

                {{ if .Site.Params.logo }} <a id="blog-logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo }}" alt="Blog Logo" /></a><br>{{ end }}
                <h1 class="blog-title">{{ .Site.Title}}</h1>
                {{ if .Site.Params.description }}<h2 class="blog-description">{{ .Site.Params.description }}</h2> {{ else  }}
                <h2 class="blog-description">{{ .Site.Params.description }}</h2>
                {{ end }}

            <a class="btn first"
               href="https://goo.gl/forms/wLX0JKngdkauUnTv1">
              <i class="fa fa-apple fa-lg" aria-hidden="true"></i> Join the beta
            </a>

              
                <i id='header-arrow' class="fa fa-angle-down"></i>
            </div>
        </div>

    </header>

    <main class="content" role="main">
    <div class='fixed-nav'>
    </div>
        {{ range .Data.Pages.ByWeight }}
                {{ if eq .Type  "post" }}
                    {{ .Render "post"}}
                {{ end }}
        {{ end }}

</main>
    {{ partial "footer.html" .}}

    {{ partial "script.html" .}}


</body>
</html>
