    <footer class="site-footer">
        <div>
        {{ if .Site.Params.twitter }}
         <a href="https://twitter.com/{{ .Site.Params.twitter }}" title="Twitter {{ .Site.Params.twitter }}"> <i class='fa fa-tt fa-2x'></i></a>
        {{ end }}
        {{ if .Site.Params.facebook }}
        <a href="https://facebook.com/{{ .Site.Params.facebook }}" title="Facebook"><span class="fa fa-fb-square fa-2x"></span></a> &nbsp
        {{ end }}
        {{ if .Site.Params.bitbucket }}
        <a href="https://facebook.com/bitfolioapp" title="Facebook page"><span class="fa fa-fb-square fa-2x"></span></a> &nbsp
        {{ end }}
        {{ if .Site.Params.github }}
        <a href="https://github.com/{{ .Site.Params.github }}" title="GitHub"><span class="fa fa-github fa-2x"></span></a> 
        {{ end }}
        {{ if .Site.Params.flickr }}
        <a href="https://github.com/timefrancesco/bitfolio/wiki/FAQ" title="FAQ"><span class="fa fa-info-circle fa-2x"></span></a> 
        {{ end }}
        {{ if .Site.Params.linkedin }}
        <a href="https://no.linkedin.com/in/{{ .Site.Params.linkedin }}/en" title="Linkedin"> <i class='fa fa-ll fa-2x'></i></a> 
        {{ end }}
        
        {{ if .Site.Params.email }}
        <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}"> <i class='fa fa-envelope-o fa-2x'></i></a>
        {{ end }}
        </div>
    </footer>
